<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Email</title>
</head>
<body style="font-family: Arial; background: #f4f4f4; padding: 20px;">
    <div style="background: white; padding: 20px; border-radius: 8px;">
        <h2>Hello User</h2>
        <p>Your verification OTP is:</p>
        <h1 style="color: green;">{{ otp }}</h1>
        <p>This OTP expires in 5 minutes.</p>
        <br><br>
        <p>Thanks,<br><b>Flex and Vibe Team</b></p>
    </div>
</body>
</html>